// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################

// A. FONTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FONT SETUP ----------------------------------------------------------------------------------------------------

//$base-font:     $default; // Change your default font type.
$base-size:     16px; 		// Choose your base font size. I like 16px and Relative Readability.
$base:          20px; 		// Choose your Line Height.

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. FONT SIZES ----------------------------------------------------------------------------------------------------

$xxxx-l:            4em; 		// 32px
$xxx-l:             3em; 		// 32px
$xx-large:          2em; 		// 32px
$x-large:           1.7em; 		// 32px
$large:             1.5em; 		// 24px
$med-l:             1.25em; 	// 18px
$medium:            1.125em; 	// 18px
$normal:            1em; 		// 16px
$small:             0.75em; 	// 12px
$x-small:           0.625em; 	// 10px

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. FONT WEIGHTS --------------------------------------------------------------------------------------------------

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MARGINS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$base-lgt:      $base*5;
$base-lgr:      $base*4;
$base-lg:       $base*2;
$base-sm:       $base/2;
$base-smr:      $base/4;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. COLOURS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Grey Scale

$black:         #000000;
$grey33:        #333333;
$grey55:        #555555;
$grey77:        #777777;
$grey99:        #999999;
$greyAA:        #AAAAAA;
$greyBB:        #BBBBBB;
$greyCC:        #CCCCCC;
$greyDD:        #DDDDDD;
$greyEE:        #EEEEEE;
$white:         #FFFFFF;


// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. BREAKPOINTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$breakpoints: (
  'xs-phone': 340px,
  'xs-phone2': 480px,
  'phone': 640px,
  'phone2': 728px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1250px,
  'widescreen2': 1400px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################