// 0. OBJECT [ 0.3.0. MIXINS: EFFECTS ]  ##############################################################################

// A. LINK HOVER MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin hover-effect() {

    transition: all 0.3s;

}

@mixin hover-off ($speed, $delay) {

    transition: all $speed;
    transition-delay: $delay;

}

@mixin hover-on ($speed, $delay) {

    transition: all $speed;
    transition-delay: $delay;

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.1. ABSOLUTE EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin absolute ($padding) {
    
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.2. POSITION EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin position ($position, $padding) {
    
    position: $position;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. VERTICAL ALIGN MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // B.1. Vertical Align --------------------------------------------------------------------------------------------

    @mixin vertical-align($position){

        position: $position;
        top: 50%;
        transform: translateY(-50%);

    }

    // B.1. END -------------------------------------------------------------------------------------------------------

    // B.1. Vertical Flex --------------------------------------------------------------------------------------------

    @mixin vertical-flex($height){

        justify-content: center;
        flex-direction: column;
        height: $height;

    }

    // B.1. END -------------------------------------------------------------------------------------------------------

    // B.1. Center Align --------------------------------------------------------------------------------------------

    @mixin center-align($side,$xy){

        position: absolute;
        $side: 50%;
        transform: $xy(-50%);

    }

    // B.1. END -------------------------------------------------------------------------------------------------------

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. ASPECT RATIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin aspect-ratio ($width, $aspect){

    position: relative; 
    width: $width;

    &:before {

    content: ""; 
    display: block; 
    padding-top: $aspect;

    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################